<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Design Handbook</title>
	<link rel="stylesheet" href="https://rawgit.com/dreamhost/dreamhost.css/master/dist/dreamhost.0.0.1.css">
	<link rel="stylesheet" href="handbook.css">
</head>
<body>

{% include _header.html %}
<div class="container">
	<section class="g-1_4">
		{% include _nav.html %}
	</section>
	<section class="g-3_4">
		<h1 class="p m-none">{{page.title}}</h1>
		<div class="box">
			{{content}}
		</div>
	</section>
</div>

</body>
</html>

